body{
     margin: 0;
     padding: 0;
    }
/*
 ======================
 header
 ======================
 */

 header{
     position: relative;
     height: 530px;
     width: 100%;
     background-image: url("../images/background.jpg");
     background-position: -50px 540px;
 }
 .apple-nav{
    position: absolute;
    background-color: rgb(110, 110, 110);
    top: 100px;
    right: 200px;
    left: 200px;
    border-radius: 10px;
 }
 .apple-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .apple-nav li{
     display: inline;
    text-align: center;
    list-style: none;
 }
 .apple-nav a{
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-family: "Source Sans Pro", sans-serif;
 }
 #apple{
     font-size: 25px;
 }
 .select-verse{
     position: absolute;
     top: 280px;
 }